<p id="notice"><%= notice %></p>

<h1>Doubts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doubts.each do |doubt| %>
      <tr>
        <td><%= doubt.title %></td>
        <td><%= doubt.user.username %></td>
        <td><%= doubt.content %></td>
        <td><%= link_to 'Show', doubt %></td>
        <td><%= link_to 'Edit', edit_doubt_path(doubt), id:"e-#{doubt.title}" %></td>
        <td><%= link_to 'Destroy', doubt_path(doubt), id:"d-#{doubt.title}", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doubt', new_doubt_path %>
<%= link_to 'Back', controller: 'initial_page' %>
