<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :activable_id %>
    <%= form.text_field :activable_id, id: :activity_activable_id %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :activity_author %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :activity_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
