<p id="notice"><%= notice %></p>

<h1>Texts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.title %></td>
        <td><%= text.user.username %></td>
        <td><%= text.content %></td>
        <td><%= link_to 'Show', text, id:"s-#{text.title}" %></td>
        <td><%= link_to 'Edit', edit_text_path(text), id:"e-#{text.title}" %></td>
        <td><%= link_to 'Destroy', text_path(text), id:"d-#{text.title}", method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text', new_text_path %>
<%= link_to 'Back', controller: 'initial_page' %>
