<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @text.user.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @text.content %>
</p>

<h2>Comments</h2>
<%= render partial: "comments/comments", locals: {commentable: @text} %>

<h2>Add a comment</h2>
<%= render partial: "comments/form", locals: {commentable: @text} %>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
